<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
 
	<bean id="helloBean" class="com.vackosar.springexperiment.aop.HelloWorld" scope="prototype">
		<property name="name" value="Mkyong" />
	</bean>
	
	<bean id="hijackAfterMethod" class="com.vackosar.springexperiment.aop.HijackAfterMethod" />
	
	<bean id="otherBean" class="com.vackosar.springexperiment.aop.OtherBean" >
		<constructor-arg><ref bean="helloBean"/></constructor-arg>
	</bean>
	
	
	<bean id="helloBeanProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="helloBean" />
		<property name="interceptorNames">
			<list>
				<value>hijackAfterMethod</value>
			</list>
		</property>
	</bean>
	
	<bean id="otherBeanPointcut"
        class="org.springframework.aop.support.NameMatchMethodPointcut">
		<property name="mappedName" value="printHello" />
	</bean>
	
	<bean id="otherBeanAdvisor"
		class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="pointcut" ref="otherBeanPointcut" />
		<property name="advice" ref="hijackAfterMethod" />
	</bean>
	
	<bean id="otherBeanProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
 
		<property name="target" ref="otherBean" />
 
		<property name="interceptorNames">
			<list>
				<value>otherBeanAdvisor</value>
			</list>
		</property>
	</bean>
	
	<bean
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>*Bean</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>autoproxyAdvisor</value>
			</list>
		</property>
	</bean>
	
	<bean id="autoproxyAdvisor"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="patterns">
			<list>
				<value>.*Hello.*</value>
			</list>
		</property>
		<property name="advice" ref="autoproxyAfterMethod" />
	</bean>
	
	<bean id="autoproxyAfterMethod" class="com.vackosar.springexperiment.aop.AutoproxyAfterMethod" />
 
 	<!--  aop:aspectj-autoproxy /-->
 	<!-- context:component-scan base-package="com.vackosar.springexperiment.aop" /-->
</beans>